# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
    exclude:
    - gh-pages

strategy:
  matrix:
    'Ubuntu 16.04':
      imageName: 'ubuntu-16.04'
    'macOS 10.14':
      imageName: 'macos-10.14'
    'Windows 2019':
      imageName: 'windows-2019'

pool:
  vmImage: $(imageName)

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreInstaller@0
  displayName: Install dotnet
  inputs:
    version: '3.0.100-preview5-011568'

- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'Build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: Run Unit Tests ($(buildConfiguration))
  inputs:
    command: test
    projects: '**/*.Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration)'
